@{
	ViewData["Title"] = "Privacy Policy";
}
<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-6">
			<div class="card">
				<h2 class="card-title">Contributors</h2>
				<hr>

				<ul>
					<li>მიხეილ ვახტანგიშვილი</li>
					<li>ნიკოლოზ ბუზალაძე</li>
					<li>დავით ელიაშვილი</li>
					<li>ლუკა ბეჟაშვილი</li>
					<li>დავით ჭუჭულაშვილი</li>
					<li>ელისე ბაზღაძე</li>
					<li>გიორგი ტურაშვილი</li>
					<li>ალეკო კვეკვესკირი</li>
				</ul>
			</div>
		</div>
	</div>
</div>
